  <!DOCTYPE html>
  <html lang="pt-br" ng-app="moduloPrincipal">
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="css/estilo.css">

      <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="UTF-8">
      
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
          
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/angular-ui-router.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/module.js"></script>
      <script type="text/javascript" src="js/userController.js"></script>
       <script type="text/javascript" src="js/rotas.js"></script>
       <script type="text/javascript" src="js/loginController.js"></script>
       <script type="text/javascript" src="js/interceptor/token-interceptor.js"></script>
       <script type="text/javascript" src="js/compsController.js"></script>
        <script type="text/javascript" src="js/preventsleep.js"></script>
       

      
      <title>League of Comps</title>
    </head>

    <body ng-controller="usuarioController">
        <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"> League of Comps</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#!/login">Entrar</a></li>
        <li><a href="#!/registrar">Registrar</a></li>
        <li><a href="#!/comps">Composicoes</a></li>

      </ul>
    </div>
  </nav>
  
 <ui-view></ui-view>
  
        <div class="blocosPrincipais">
        
        	<div class="bloco">
        		<i class="medium material-icons">announcement</i>
		     
		     <br/>
		     <h3>Sobre</h3>

			
			<p>A League of Comps é um site Brasileiro com intuito de ajudar os jogadores a montar e salvar composições no league of legends. Em breve estaremos trazendo mais funcionalidades para que o jogador veja em nosso site um ambiente de debate completo sobre o jogo.</p>
        	
        	
        	</div>
        	<div class="bloco">
        					     <i class="medium material-icons">assessment</i>
			     
			     <br/>
			     <h3>Anúncio</h3>

			     <p>Local destinado a anúncios, tanto por empresas de terceiros quanto pelo próprio site </p>
        	</div>
        	<div class="bloco">
        		<i class="medium material-icons">contact_mail</i>
			     
			     <br/>
			     <h3>Contato</h3>
	
		    	<p>Caso você tenha interesse, nosso contato comercial é feito à partir do e-mail:</p>
		    	<br/>
		    	<a>viniciusleitecosta@hotmail.com</a>
        	
        	</div>
        
        </div>
        
        
   <div id="rodape">
      <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">League of Comps</h5>
                <p class="grey-text text-lighten-4">Site criado pro Marcus Vinícius, estudante de Ciência da Computação da UFCG para fins práticos e educativos <br/>Esse site web não é afiliado a nenhum outro web site ou empresa, e não possui patrocinio e/ou apoio da Riot games. </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links úteis</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="http://www.facebook.com/M.Vinicius.Tpv">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="http://www.github.com/marcusvlc">Github</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Todos os direitos reservados
            </div>
          </div>
        </footer>
        
        </div>
        
    </body>
  </html>